footer {
  display: flex;
  margin-top: auto;

  .geo-location {
    row-gap: 1.5rem;
    flex-direction: column;
    display: flex;
    bottom: 0;
    color: var(--txt-gray);
  }

  .coords-container {
    gap: 24px;
    row-gap: 0.625rem;
  }

  span {
    place-self: start;
    display: flex;
    font-size: 1.625rem;
  }
}
