footer {
  display: flex;
  margin-inline-start: 100px;
  padding-block: 39px;
  margin-top: auto;

  .geo-location {
    row-gap: 8px;
    flex-direction: column;
    display: flex;
    bottom: 0;
    color: var(--txt-gray);
  }
  .coords-container {
    gap: 2.625rem;
    row-gap: 10px;
  }

  span {
    display: flex;
    font-size: 1.625rem;
  }
}
