.search-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-inline-start: 5.625em;
  
  span {
    padding-block: 4.375rem;
    font-size: 3.5rem;
    color: var(--txt-gray);
    line-height: 1.5;
  }
  
  label {
    margin: 1rem 0 0.75rem 1.375rem;
    font-size: 1.875rem;
    font-family: heebo-l;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    max-width: 49.75rem;
    position: relative;

    .search {
      flex-grow: 1;
      font-family: heebo;
      color: var(--txt-main);
      font-size: 2.625rem;
      padding-inline: 1.375rem;
      padding-block: 1.8125rem;
      padding-inline-end: 20rem;
      border-radius: 1rem;
      border: none;
      background-color: var(--clr-white);
      transition: all 0.1s ease-in-out;

      &:focus {
        outline-color: var(--clr-blue);
      }
    }

    button {
      position: absolute;
      right: 1.25rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2.0625rem;
      font-family: heebo-exl;
      height: 4.0625rem;
      background-color: var(--btn-bgc);
      color: white;
      border: none;
      border-radius: 1rem;
      padding: 0 2.625rem;
      cursor: pointer;
      transform-origin: center;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: var(--btn-bgc-hover);
      }

      &:active {
        scale: 0.96;
      }
    }
  }
}
