label {
  margin: 1.667rem 0 0.625rem 1.146rem;
  font-size: 1.75rem;
  font-family: heebo-l;
}

.input-container {
  display: flex;
  flex-direction: column;
  max-width: 47.333rem;
  position: relative;
}

button {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.917rem;
  font-family: heebo-exl;
  height: 3.75rem;
  background-color: var(--btn-bgc);
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0 2.667rem;
  cursor: pointer;
  transform-origin: center;
  transition: all 0.1s ease-in-out;
}

button:hover {
  background-color: var(--btn-bgc-hover);
}

button:active {
  scale: 0.96;
}

.input-wrapper {
  position: relative;
}

.input-error .search {
  outline: 0.167rem solid red;
}

.error-message {
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 1rem;
  margin-top: 0.417rem;
}

.search-title {
  place-self: auto;
  padding-block: 3.833rem;
  font-size: 3.333rem;
  color: var(--txt-gray);
  line-height: 1.45;
}

.search {
  flex-grow: 1;
  font-family: heebo;
  color: var(--clr-black);
  font-size: 2.167rem;
  background-color: var(--clr-white);
  padding-block: 1.5125rem;
  border-radius: 1rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: 0.1s ease-in-out;
}

.search:focus {
  outline-color: var(--clr-blue);
}
