.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-sec);
  background-color: var(--bgc-box);
  width: 100%;
  max-width: 77.25rem;
  height: auto;
  max-height: 76.25em;
  border-radius: 0.5rem;
  margin: 0 auto;

  .weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6.75rem 2em 2em;
    row-gap: 2.6875rem;
    text-align: center;
    background-color: var(--clr-blue);
    width: 100%;
    max-width: 50.125em;
    height: auto;
    max-height: 59.375em;
    border-radius: 3.375em;

    .weather-location {
      display: flex;
      flex-direction: column;
      gap: 1.125rem;
      line-height: 0;

      h3 {
        padding-bottom: 0.1875rem;
        font-family: heebo-exl;
        font-size: 2.875rem;
        letter-spacing: 0.09375rem;
      }

      span,
      p {
        font-family: heebo-exl;
        font-size: 2.625rem;
        color: var(--clr-blue-gray);
      }

      p {
        font-size: 2.0625rem;
        margin-top: 2.5rem;
      }
    }

    .weather-temperature {
      margin: 2.875rem;
      position: relative;

      h1 {
        font-family: heebo;
        margin-right: 1.375rem;
        letter-spacing: -1.5rem;
        font-size: 14.3125rem;
        line-height: 0.7;

        .degree-sign {
          position: absolute;
          top: -25%;
          right: -20%;
          height: 3.4375rem;
        }
      }

      span {
        font-family: heebo-exl;
        font-size: 3.4375rem;
        line-height: 0.9;
        margin-right: 0.25rem;
      }
    }

    .weather-details {
      display: flex;
      gap: 3.9375rem;
      margin: 0.125rem 0 1rem;

      span {
        font-size: 2.375rem;
      }

      p {
        font-family: heebo-m;
        font-size: 2.1875rem;
      }

      div:last-of-type {
        padding-left: 0.875rem;
      }
    }

    .weather-forecast {
      display: flex;
      gap: 2.875rem;

      li {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .degree-sign {
          position: absolute;
          top: 35%;
          right: 1rem;
          height: 0.5rem;
        }
      }

      span,
      p {
        font-size: 2.125rem;
        font-family: heebo-m;
        color: var(--clr-blue-gray);
        line-height: 0.1;
      }
    }
  }
}

/* Media Query */
@media (max-width: 1024px) {
  .weather-container {
    padding: 2rem;
    max-width: 100%;
  }

  .weather-widget {
    padding: 1rem 1rem;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .weather-container {
    padding: 1rem;
  }

  .weather-widget {
    padding: 1rem 0.5rem;
  }
}
