.weather-forecast {
  padding-block-start: 1.083rem;
  height: 4rem;
  display: flex;
  padding-block-end: -1.25rem;
  gap: 2.25rem;
  align-self: center;
  text-align: center;
  place-self: end;
  justify-self: center;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .degree-sign {
      position: absolute;
      top: 35%;
      right: 14%;
      height: 0.5rem;
    }
  }

  span {
    font-size: 2rem;
    line-height: 0.1;
    color: var(--clr-blue-gray);
  }

  p {
    font-size: 1.771rem;
    font-family: heebo-m;
  }
}
