.weather-temperature {
  padding-inline-end: 4.583rem;
  flex-direction: column;
  display: flex;
  position: relative;
}

span {
  font-family: heebo-exl;
  font-size: 2.865rem;
  line-height: 0.9;
  margin-right: 0.208rem;
  align-self: center;
}

.description {
  align-self: center;
}

.temperature {
  position: relative;
  padding-block: 0.833rem;
  height: 12rem;
  font-family: heebo;
  letter-spacing: -0.5rem;
  font-size: 13.5rem;
  line-height: -0.025;
  width: fit-content;
}

.degree-sign {
  position: absolute;
  top: -5%;
  right: -22%;
  height: 3.4375rem;
}
