.weather-container {
  background-color: var(--bgc-box);
  color: var(--txt-sec);
  display: flex;
  flex: 1;
  align-self: center;
  justify-content: center;
}

.weather-widget {
  display: grid;
  background-color: var(--clr-blue);
  padding: 5.25rem 0em 2em;
  align-items: center;
  justify-content: center;
  place-items: center;
}
