.weather-container {
  display: flex;
  align-self: center;
  justify-content: center;
  color: var(--txt-sec);
  background-color: var(--bgc-box);
  width: 100%;
  max-width: 77.25rem;
  height: 100%;
  max-height: 76.25em;
  border-radius: 0.5rem;
  margin: 20px;
  padding: 100px;
  
  .weather-widget {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    padding: 6.6875rem 2em 2em;
    row-gap: 2.6875rem;
    text-align: center;
    background-color: var(--clr-blue);
    width: 100%;
    max-width: 50.125em;
    height: auto;
    max-height: 59.375em;
    border-radius: 3.375em;
  }
}

/* Media Query */
@media (max-width: 1024px) {
  .weather-container {
    padding: 2rem;
    max-width: 100%;
  }

  .weather-widget {
    padding: 1rem 1rem;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .weather-container {
    padding: 1rem;
  }

  .weather-widget {
    padding: 1rem 0.5rem;
  }
}
