.weather-details {
  padding-block-start: 2.666rem;
  padding-inline: 2.4vw;
  place-self: end;
  text-align: center;
  display: flex;
  min-width: 37.875rem;

  span {
    font-size: 2.166em;
  }

  p {
    font-family: heebo-m;
    font-size: 2.1875rem;
  }
}

.precipitation {
  padding-inline-end: 3.875em;
}

.humidity {
  padding-inline-end: 3.5em;
}

.wind {
  width: 9.625em;
}
