.weather-temperature {
  flex-direction: column;
  display: flex;
  padding-block-end: 31px;
  position: relative;
}

span {
  font-family: heebo-exl;
  font-size: 3.4375rem;
  line-height: 0.9;
  margin-right: 0.25rem;
  align-self: center;
}

.description {
  align-self: center;
}

.temperature {
  height: 194px;
  font-family: heebo;
  letter-spacing: -0.5rem;
  font-size: 14.3125em;
  line-height: -0.3;
  width: fit-content;
}

.degree-sign {
  position: absolute;
  position: absolute;
  top: -5%;
  right: -20%;
  height: 3.4375rem;
}

@media (max-width: 1740px) {
}
