* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
html {
  background-color: var(--bgc-main);
  scroll-behavior: smooth;
  font-family: heebo;
  transition: all 0.1s ease-in-out;
}

body {
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 0;
}

span {
  font-family: heebo-exl;
  font-size: 1.3125rem;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  vertical-align: baseline;
}

h1 {
  font-size: 2.8125rem;
  letter-spacing: -0.5%;
}

h2 {
  font-size: 2.4375em;
}

h3 {
  font-size: 2.0625em;
}

label {
  font-size: 2.0625em;
  font-family: heebo-exl;
  color: var(--txt-gray);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

img,
video,
canvas {
  overflow: hidden;
}
