/* Custom Font Faces */
@font-face {
    font-family: 'heebo-exl';
    src: url('/src/assets/styles/fonts/Heebo/Heebo-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'heebo-l';
    src: url('/src/assets/styles/fonts/Heebo/heebo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'heebo';
    src: url('/src/assets/styles/fonts/Heebo/Heebo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'heebo-m';
    src: url('/src/assets/styles/fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}
