#root {
  /* Primary Colors */
  --clr-black: #363636;
  --clr-white: #ffffff;
  --bgc-white: #f1f1f1;
  --clr-blue: #26737d;
  --clr-green: #046c3b;

  /* Secondary Colors */
  --clr-l-blue: #dde4e6;
  --clr-gray: #797979;
  --clr-blue-gray: #9bc4cc;
  --clr-d-green: #055831;

  --bgc-main: #f1f1f1;
  --bgc-box: var(--clr-l-blue);
  --txt-main: var(--clr-black);
  --txt-sec: var(--clr-white);
  --txt-gray: var(--clr-gray);

  /* Button Colors */
  --btn-txt: var(--clr-white);
  --btn-txt-dark: var(--clr-black);

  --btn-bgc: var(--clr-green);
  --btn-bgc-hover: var(--clr-d-green);
}
